b,strong{
    font-weight: 600;
}
table {
    width: 100%;
    line-height: 1.4;
    border-collapse: collapse;
}
table tr th, table tr td {
    vertical-align: top;
    font-size: 0.9em;
    border-collapse: collapse;
}
.item-table tr th, .item-table tr td {
    border: 1px solid #444;
    padding: 4px;
    font-size: 0.8em;
}
.custom_table tr td {
    white-space: nowrap;
    table-layout: auto;
}
.custom_table tr td:nth-child(2){
    white-space: normal;
    font-size: 12px !important;
}
#notices {
    padding-left: 6px;
    border-left: 6px solid #0087C3;
    margin-top: 30px;
}
#notices .notice {
    font-size: 0.8em;
}
.item-table thead, .item-table tbody {
    text-align: center;
}
.invoice-header {
    font-size: 100%;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}
.left {
    text-align: left;
}
.capitalize {
    text-transform: capitalize !important;
    font-weight: 600;
}
.uppercase {
    text-transform: uppercase !important;
}
.bold {
    font-weight: bold;
}
.p-5 {
    padding: 5px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-150 {
    margin-top: 150px;
}
.mt-50 {
    margin-top: 50px;
}
.h-5 {
    height: 5px;
}
.pad-rgt {
    padding: 10px 80px 10px 10px;
}
.border-0 {
    border: 0px !important;
}
.hr {
    border-bottom: 1px solid #444;
    margin: 8px 0;
}
.spl-table {
    font-size: 1em
}

.amount_text{
    text-transform: capitalize;
    font-size: 0.9em;
}

textarea {
    border: 0.5px solid #444;
}
.bg-table {
    background: #EEEEEE;
    padding: 8px;
    height: auto;
}
.dashed_table {
    margin-right: 20px;
}
.dashed_table tr th, .dashed_table tr td {
    border: 1px dashed #444;
    padding: 4px;
    line-height: 1.1;
    font-weight: 500;
}
.dashed_table tr th{   
    font-weight: 600;
}
.tax_calculation{  
   margin-top: 5px;
   font-size: 10px;
}

.tax_calculation tr th, .tax_calculation tr td{
    border: 0;    
}
.total_sum tr td {
    border: 1px solid #444;
    font-weight: 500;
    padding: 4px;
}
.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 10px;
    border-top: 1px solid #ddd;
    font-size: 13px;
    color: #333;
    margin-top: 20px;
    text-align: center;
}